/**********************/
/*******HEADER*********/
/**********************/





header {
    
    background-color: white;
    position: fixed;
    padding-bottom: 35px;
    top:0;
    right: 0;
    left:0;
    z-index: 999999;

}

.header-image {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 400px;
    margin-top: -55px;
    margin-bottom: 0;
    
}

a {
    text-decoration: none;
    
}
.nav-link a {
    color: green;
    font-size: 1.5em;
}

.presentation-text {
    margin-left: 17%;
    max-width: 60%;
    position: absolute;
    top: 52%;
    text-align: center;
    font-size: 2em;
    color: white;
}

.title {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 3em;
    color: rgb(41, 41, 41);
    position: sticky;
    top: 100px;
    background-color: white;
}

.sous-titre {
    text-align: center;
    font-size: 1.4em;
    color: grey;
    line-height: 180%;
}




/******************************/
/********SECTION-PRODUCT*******/
/******************************/



.section {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.product a {
    color: grey;
}

.product {
    color: grey;
    font-size: 1.1em;
    text-align: center;
    max-width: 14%;
    line-height: 120%;
}

.subtile-product {
    font-weight: bold;
    color: rgb(41, 41, 41);
    line-height: 160%;
    font-size: 1.1em;
}

.background-product-image {
    width: 100px;
    height: 100px;
    background-color: #6d396d;
    border-radius: 50%;
    margin: auto;
    transition-duration: 0.5s;
}

.product-image {
    width: 60%;
    padding-top: 20%;
}

.background-product-image:hover {
    transform: scale(1.2);
}





/******************************/
/********SECTION-SERVICE*******/
/******************************/





.service-section {
    display: flex;
    justify-content: baseline;
    background: white;
    padding: 15px;
}

.service-section:hover {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09);
}

.service-article {
    color: grey;
    font-size: 1.1em;
    text-align: left;
}

.service-section img {
    top: 0;
    width: 55px;
    height: 55px;
    padding: 15px;
    padding-bottom: 120px;
}

.sub-service {
    max-width: 210px;
    line-height: 140%;
}







/*----------*/

/*NEWS CARDS*/

/*----------*/

.row-news-card {

    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    font-family: sans-serif;
}

.row-news-card a {
    text-decoration: none;
    color: black;
}

.news-card {
    position: relative;
    width: 350px;
    height: 400px;

    margin-bottom: 20px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transition-duration: 0.3s;
    overflow: hidden;

    font-family: 'Open Sans', sans-serif
}

.card-date {
    padding: 2px 0px;
    position: absolute;
    background: #E9C407;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 30px;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.day,
.month,
.year {
    padding: 0 10px;
}

.day {
    font-size: 2rem;
}

.month {
    font-size: 1.1rem;
}

.year {
    font-size: 1rem;
}

.card-thumb img {
    max-width: 100%;
    
}

.card-body {
    background-color: white;
    height: 280px;
    padding: 10px;
    transition-duration: 1s;
    transform: translateY(20px);
}

.card-body p,
.card-social {
    opacity: 0;
    transition-duration: 1s;
}

.card-social {
    color: white;
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.card-social .fa-facebook-f {
    background-color: #0050d1;
}

.card-social .fa-twitter {
    background-color: #75aaff;
}

.card-social .fa-pinterest-p {
    background-color: red;
}

.card-social .fab {
    width: 50px;
    height: 40px;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    border-radius: 50px;
}

.card-suite {
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0;
    transition-duration: 0.7s;
    color: grey;
}

.card-suite:hover {
    color: black;
}

.card-suite .fa-arrow-right {
    font-size: 1.5rem;
    padding: 5px 5px;
}

.news-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition-duration: 0.3s;
}

.news-card:hover .card-body {
    position: absolute;
    transform: translateY(-57%);
    transition-duration: 0.7s;
    opacity: 0.9;
    box-shadow: 10px 0 10px black;
    transition-delay: 0.2s;
}

.news-card:hover .card-suite {
    opacity: 1;
}

.news-card:hover .card-body p,
.news-card:hover .card-social {
    opacity: 1;
    transition-duration: 0.7s;
}

.news-card:hover .card-thumb {
    filter: blur(1.5px);
}

.news-card:hover .card-date {
    padding: 2px 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #E9C407;
    line-height: 30px;
    animation-name: date-animation-in;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.permis_point {
    height: 400px;
}
@keyframes date-animation-in {
    0% {
        left: 0%;
        transform: translateX(0%);
        opacity: 1;
    }
    50% {
        opacity: 0;
        left: 0%;
        transform: translateX(0%);
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        flex-direction: row;
    }
}




/****************************/
/********REGISTER-FORM*******/
/****************************/




.alert-danger {
    background-color: rgb(253, 61, 61);
    position: relative;
    margin-top: 7%;
    padding: 20px;
    
    line-height: 250%;
    font-size: 1.4rem;
}

.alert-success {
    background-color: rgb(65, 179, 49);
    position: relative;
    margin-top: 7%;
    padding: 20px;
    
    line-height: 250%;
    font-size: 1.4rem;
}






/****************************/
/********CONTACT-FORM*******/
/****************************/




.form-col-1 {
    padding-top: 15%;
    width: 50%;
    padding-left: 25%;
}

.form-col-1 label, input {
    margin-bottom: 1%;
}
.col-1 {
    display: flex;
    flex-direction: column;
}

.col-2 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.url {
    display: none;
}

.form-col-1 input, textarea {
    padding: 1%;
    border-radius: 3px;
    border: 1px solid grey;
}

.form-col-1 textarea:focus {
    border-color: #0699d3;
    box-shadow: 0 0 2px 1px #0699d3;
}

.form-col-1 input:focus {
    border-color: #0699d3;
    box-shadow: 0 0 2px 1px #0699d3;
}

.form-button {
    background-color: blueviolet;
    color: white;
    display: block;
    padding: 10px;
    margin: auto;
}




/********************/
/********MODAL*******/
/********************/




.modal .btn-close {
    color:#aaa;
    cursor:pointer;
    font-size:3rem;
    position:absolute;
    top:0;
    right:5px;
    text-decoration:none;
}

.modal .btn-close:hover,.modal .btn-close:focus {
    color:red;
}
.modal-wrap:before {
    content:'';
    display:none;
    background:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:101;
}
.modal-overlay {
    display:none;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:102;
}

.modal-open:checked ~ .modal-wrap:before,.modal-open:checked ~ .modal-wrap .modal-overlay {
    display:block;
}

.modal-open:checked ~ .modal-wrap .modal-dialog {
    transform:translate(-50%,-50%);
    position:fixed;
    top:55%;
}

.modal-dialog {
    background:#fefefe;
    border:#555 solid 1px;
    border-radius:5px;
    position:fixed;
    left:50%;
    top:-100%;
    transform:translate(-50%,-150%);
    transition:transform .6s ease-in-out;
    width:80%;
    max-width:600px;
    z-index:103;
}

.modal-body {
    padding:20px;
    
}

.form-connect {
    padding-right: 10%;
}

.modal-body p {
    margin:0;
}

.modal-header,.modal-footer {
    padding:20px 20px;
}
.modal-header {
    border-bottom:#eaeaea solid 1px;
}

.modal-header h2 {
    font-size:2rem;
    margin:0;
}

.modal-footer {
    border-top:#eaeaea solid 1px;
    text-align:right;
}

.btn {
    cursor: pointer;
    font-size: 1.5em;
    color: green;
}

.btn-primary {
    color: white;
    cursor: pointer;
    background-color: #007bff;;
    border-color: #2e6da4;
    padding: 6px 12px;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #2e6da4;
}

.form-connect {
    width: 97%;
    padding: 1%;
    border-radius: 4px;
    border: 1px solid grey;
    margin-bottom: 1%;
    margin-top: 1%;
}

.form-connect:focus {
    border-color: #0699d3;
    box-shadow: 0 0 2px 1px #0699d3;
}





/****************************/
/********ARTICLE PAGE********/
/****************************/





.title-section {
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 2em;
    color: rgb(41, 41, 41);
    top: 100px;
    max-width: 60%;
    margin: auto;
}

.section-article {
    color: grey;
    font-size: 1.2em;
    max-width: 60%;
    margin: auto;
}

.article {
    line-height: 150%;
}

.mini-titre {
    text-decoration: underline;
}

.text-decoration {
    color: blueviolet;
    font-style: italic;
}

.publish-url {
    text-decoration: none;
    color: blueviolet;
    padding-bottom: 10%;
}



.forget-form {
    margin-top: 10%;
    padding-left: 40%;
}

.forget-form input {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px;
}








.accordeon-menu {
    margin: auto;
    max-width: 60%;
}

.accordeon-title {
    background-color: green;
    text-align: center;
    margin: 0;
    border: solid 1px black;
    padding: 10px;
    cursor: pointer;
    color: #6d396d;
}

.accordeon-content {
    background-color: #6d396d;
   
}